<div ng-controller="businessResult">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">业务结果</p>
        </div>
        <!-- 按钮触发模态框 -->
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>系统详情名称</td>
                    <td>任务名称</td>
                    <td>结果状态</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in resultList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.system_info_name}}</td>
                    <td>{{item.job_name}}</td>
                    <td>{{showResult_status(item.result_status)}}</td>
                    <td>{{item.created_time}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeResult(item.id,$index)">查看</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="tcdPageCode"></div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="resultJob" class="col-sm-2 control-label">系统详情名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.system_info_name" class="form-control" id="resultJob" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultBuildId" class="col-sm-2 control-label">任务名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.job_name" class="form-control" id="resultBuildId" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultStatus" class="col-sm-2 control-label">构建id</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.build_id" class="form-control" id="resultStatus" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultCountPass" class="col-sm-2 control-label">通过数量</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.count_pass" class="form-control" id="resultCountPass" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultCountFail" class="col-sm-2 control-label">失败数量</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.count_fail" class="form-control" id="resultCountFail" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultCountError" class="col-sm-2 control-label">错误数量</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.count_error" class="form-control" id="resultCountError" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultCountError" class="col-sm-2 control-label">结果状态</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.result_status" class="form-control" id="resultCountError" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultFilePath" class="col-sm-2 control-label">报告地址</label>
                            <div class="col-sm-10">
                                <a href={{result_url}}{{params.file_path_url}}>查看详情</a>
                                <!--<input type="text" ng-model="params.interface_file_path" class="form-control" id="resultFilePath" placeholder="请输入名称" ng-disabled="dialog.input_isClick">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultCountError" class="col-sm-2 control-label">报错图片</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.error_pics" class="form-control" id="resultCountError" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <!--详情-->
                        <div class="form-group">
                            <label for="resultCreated" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.created_time" class="form-control" id="resultCreated" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addResultConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editResultConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>

