<div ng-controller="bussiness_Job">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">任务管理</p>
        </div>
        <div class="queryCase">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.product" ng-options="m.description for m in queryProductList" ng-change="queryProduct()">
                            <option value="">-- 请选择产品 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.system" ng-options="m.description for m in querySystemList">
                            <option value="">-- 请选择系统 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.Env" ng-options="m.description for m in caseEnvlList">
                            <option value="">-- 请选择环境 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="queryCaseJob()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openJobConstruct()">新增任务</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>任务名称</td>
                    <td>项目名称</td>
                    <td>系统名称</td>
                    <td>环境名称</td>
                    <td>任务状态</td>
                    <td>启用</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in jobList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.job_name}}</td>
                    <td>{{item.system_name}}</td>
                    <td>{{item.env_name}}</td>
                    <td>{{item.job_status?'已关联':'未关联'}}</td>
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>{{item.created_time}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeJobConstruct(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editJobConstruct(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableJobConstruct(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delJobConstruct(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show = "forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide = "forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="jobConstructName" class="col-sm-2 control-label">任务名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.name,'名称')" ng-model="params.name" class="form-control" id="jobConstructName" placeholder="请输入任务名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jobConstructJobName" class="col-sm-2 control-label">项目名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkName(params.job_name)" ng-model="params.job_name" class="form-control" id="jobConstructJobName" placeholder="请输入项目名称(只允许数字、英文和字符)" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">系统名称</label>
                            <div class="col-sm-10">
                                <select ng-model="params.system" ng-options="m.description for m in systemList" ng-disabled="dialog.input_isClick || dialog.input_readOnly">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">环境</label>
                            <div class="col-sm-10">
                                <select ng-model="params.env" ng-options="m.description for m in envList" ng-disabled="dialog.input_isClick || dialog.input_readOnly">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">jenkins</label>
                            <div class="col-sm-10">
                                <select ng-model="params.jenkins" ng-options="m.name for m in jenkinsList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">构建类型</label>
                            <div class="col-sm-10">
                                <select ng-model="params.build_type" ng-options="m.name for m in buildTypeList" ng-change="selectedBuildType(params.build_type)" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--源码-->
                        <div ng-show="params.source_state===true" class="form-group">
                            <label class="col-sm-2 control-label">源码仓库</label>
                            <div class="col-sm-10">
                                <select ng-change="selectedSourceCode()" ng-model="params.source_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.source_state===true" class="form-group">
                            <label class="col-sm-2 control-label">源码分支</label>
                            <div class="col-sm-10">
                                <select ng-model="params.source_branch" ng-options="m.name for m in sourceCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--部署-->
                        <div ng-show="params.deploy_state===true" class="form-group">
                            <label class="col-sm-2 control-label">部署仓库</label>
                            <div class="col-sm-10">
                                <select ng-change="selectedDeployCode()" ng-model="params.deploy_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.deploy_state===true" class="form-group">
                            <label class="col-sm-2 control-label">部署分支</label>
                            <div class="col-sm-10">
                                <select ng-model="params.deploy_branch" ng-options="m.name for m in deployCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--接口-->
                        <div ng-show="params.interface_state===true" class="form-group">
                            <label class="col-sm-2 control-label">接口数据仓库</label>
                            <div class="col-sm-10">
                                <select ng-change="selectedInterfaceCode()" ng-model="params.interface_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.interface_state===true" class="form-group">
                            <label class="col-sm-2 control-label">接口分支</label>
                            <div class="col-sm-10">
                                <select ng-model="params.interface_branch" ng-options="m.name for m in interfaceCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="oneArr in multiParams track by $index">
                            <label for="departmentDes" class="col-sm-2 control-label">入参</label>
                            <div class="col-sm-10 ">
                                <div class="display_flex" ng-repeat="param in oneArr track by $index">
                                    <div class="flex8">
                                        <input type="text" ng-model="param.key" class="form-control" id="departmentDes" placeholder="key" ng-disabled="dialog.input_isClick || !oneArr[$index].isDisabled">
                                    </div>
                                    <div class="flex8" ng-show="!oneArr[$index].is_select">
                                        <input type="text" ng-model="param.value" class="form-control" id="departmentDes" placeholder={{param.valueHide}} ng-disabled="dialog.input_isClick">
                                    </div>
                                    <select class="flex8" ng-model="param.value" ng-options="m.correct_name as m.correct_name for m in allAssociation" ng-show="oneArr[$index].is_select" ng-disabled="dialog.input_isClick">
                                        <option value="">-------- 请选择 -------</option>
                                    </select>
                                    <button type="button" ng-show="!dialog.input_isClick" class="btn btn-default"  ng-click="minus(oneArr,$index)">-</button>
                                    <button type="button" ng-show="!dialog.input_isClick" class="btn btn-default" ng-click="plus(oneArr,$index)" >+</button>

                                    <!--<input  type="checkbox" class="checkbox-zsy" ng-model="paramsArr[$index].is_select"  ng-true-value = "true" ng-false-value = "false" ng-click="getAllAssociation()">-->
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-left: 30px" ng-show="dialog.status === 'create'||dialog.status === 'modify'">
                            <button type="button" class="btn btn-primary " ng-click="reduceParamsFun()">-</button>
                            <button type="button" class="btn btn-primary " ng-click="addParamsFun()">+</button>
                        </div>
                        <!--详情-->
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchUser" class="col-sm-2 control-label">创建用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.creator_name" class="form-control" id="codeBranchUser" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchMod" class="col-sm-2 control-label">修改用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.modifier_name" class="form-control" id="codeBranchMod" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchCreated" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.create_time" class="form-control" id="codeBranchCreated" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label  class="col-sm-2 control-label">任务状态</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.job_status" ng-disabled="dialog.input_isClick"> 是否关联
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addJobConstructConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editJobConstructConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 模态框 禁用、删除（Modal） -->
    <div class="modal fade" id="DisableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger"  ng-click="disableJobConstructConfirm()" ng-show="dialog.status === 'disable'">
                            禁用
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delJobConstructConfirm()" ng-show="dialog.status === 'del'">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>

