<div ng-controller="jobManage">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">任务列表</p>
        </div>
        <div class="queryCase">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <select ng-model="queryParam.businessType" ng-options="m.description for m in queryBusinessTypeList" ng-change="queryDepartment()">
                            <option value="">-- 请选择业务类型 --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="queryParam.jobType" ng-options="m.description for m in queryJobTypeList" ng-change="queryDepartment()">
                            <option value="">-- 请选择任务类型 --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="queryParam.product" ng-options="m.description for m in queryProductList">
                            <option value="">-- 请选择产品 --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="queryParam.system" ng-options="m.description for m in querySystemList">
                            <option value="">-- 请选择系统 --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="queryParam.jobName" ng-options="m.description for m in queryJobNameList">
                            <option value="">-- 请选择任务名 --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openJob()">新增</button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myProcessModal" ng-click="processJob(item.uuid,$index)">进度</button>

        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>任务名称</td>
                    <td>任务类型</td>
                    <td>产品</td>
                    <td>系统</td>
                    <td>环境</td>
                    <td>是否启用</td>
                    <td>更新时间</td>
                    <td>创建人</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in jobList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.jobType}}</td>
                    <td>{{item.product}}</td>
                    <td>{{item.system}}</td>
                    <td>{{item.env}}</td>
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>{{ item.modify_time}}</td>
                    <td>{{ item.created}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeJob(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="processJob(item.uuid,$index)">进度</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editJob(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableJob(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delJob(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show = "forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide = "forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel" style="margin-bottom:10px; padding: 10px 20px; border-bottom:1px solid #ddd;">
                        基本信息
                    </h4>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务类型</label>
                            <div class="col-sm-10">
                                <select ng-model="params.businessType" ng-options="m.description for m in businessTypeList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品名称</label>
                            <div class="col-sm-10">
                                <select ng-change="selectedProduct()" ng-model="params.product" ng-options="m.description for m in productNameList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">系统</label>
                            <div class="col-sm-10">
                                <select ng-model="params.system" ng-options="m.description for m in systemList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                            </div>
                        </div>
                        <h4 class="modal-title" id="myModalLabel" style="margin-bottom:10px; padding: 10px 20px; border-bottom:1px solid #ddd;">
                            执行策略
                        </h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">策略</label>
                            <div class="col-sm-10">
                                <select ng-model="params.strategy_type" ng-options="m.type for m in strategyType" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择策略类型 --</option>
                                </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                            </div>
                        </div>
                        <h4 class="modal-title" id="myModalLabel" style="margin-bottom:10px; padding: 10px 20px; border-bottom:1px solid #ddd;">
                            执行过程
                        </h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">请选择任务策略</label>
                            <div class="col-sm-10">
                                <select ng-model="params.jobType" ng-options="m.type for m in jobTypeList" ng-disabled="dialog.input_isClick || !oneArr[$index].isDisabled">
                                    <option value="">-- 请选择任务类型 --</option>
                                </select>
                                <select ng-model="params.jobStrategy" ng-options="m.type for m in jobStrategyList" ng-disabled="dialog.input_isClick || !oneArr[$index].isDisabled">
                                    <option value="">-- 请选择策略 --</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary " ng-click="reduceParamsFun()">-</button>
                        <button type="button" class="btn btn-primary " ng-click="addParamsFun()">+</button>
                        <!--详情-->
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchUser" class="col-sm-2 control-label">创建用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.creator_name" class="form-control" id="codeBranchUser" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchMod" class="col-sm-2 control-label">修改用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.modifier_name" class="form-control" id="codeBranchMod" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchCreated" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.created_time" class="form-control" id="codeBranchCreated" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="codeBranchModified" class="col-sm-2 control-label">更新时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.modified_time" class="form-control" id="codeBranchModified" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addJobConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editJobConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 模态框 进度（Modal） -->
    <div class="modal fade" id="myProcessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"  style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span class="btn btn-default btn-sm">等待人工审核</span>
                        {{dialog.header}}
                        dingyaling2017-09-01 15:31:12 提交代码版本：1shqwj1提交目的：本地--release
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-top" style="overflow: auto">
                        <div class="modal-left" style="float:left; width: 35%; border:1px solid #ddd; margin: 10px 5px 5px 5px; padding: 10px;">
                            <p class="modal-title"> <strong>本次提交变动</strong> </p>
                            <pre>
1、新增配置管理
2、改动身份证字段
3、新加卡bin支持
4、修复空指针漏洞
                            </pre>
                        </div>
                        <div class="modal-right" style="float:left; width: 55%; border:1px solid #ddd; margin: 10px 5px 5px 5px; padding: 10px;">
                            <p class="modal-title"> <strong>当前提交代码流状态</strong> </p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>单元测试</td>
                                    <td></td>
                                    <td>静态测试</td>
                                    <td></td>
                                    <td>编译测试</td>
                                    <td></td>
                                    <td>动态测试</td>
                                    <td></td>
                                    <td>集成测试</td>
                                    <td></td>
                                    <td>人工审核</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>本地</td>
                                    <td class="bigArrow">
                                        <span class="markArrow">dingyaling18分钟前提交</span>
                                        <i class="iconfont">&#xe619;</i>
                                    </td>
                                    <td class="unitTest" ng-click="unitTest()">
                                        <span class="processFlag"></span>
                                        <p>详情</p>
                                        <div class="unitDetail">
                                            <p class="closeDetail" ng-click="closeDetail()">X</p>
                                            <div class="unitDetailLeft">
                                                <p>用例总数</p>
                                                <p>成功用例</p>
                                                <p>失败用例</p>
                                                <p>报告详情</p>
                                            </div>
                                            <div class="unitDetailRight"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <i class="iconfont">&#xe60d;</i>
                                    </td>
                                    <td>
                                        <span class="processFlag"></span>
                                        <p>详情</p>
                                    </td>
                                    <td>
                                        <i class="iconfont">&#xe60d;</i>
                                    </td>
                                    <td>
                                        <span class="processFlag"></span>
                                        <p>详情</p>
                                    </td>
                                    <td>
                                        <i class="iconfont">&#xe60d;</i>
                                    </td>
                                    <td>
                                        <span class="processFlag"></span>
                                        <p>详情</p>
                                    </td>
                                    <td>
                                        <i class="iconfont">&#xe60d;</i>
                                    </td>
                                    <td>
                                        <span class="processFlag"></span>
                                        <p>详情</p>
                                    </td>
                                    <td>
                                        <i class="iconfont">&#xe60d;</i>
                                    </td>
                                    <td>
                                        <span class="processFlag"></span>
                                        <p>详情</p>
                                    </td>
                                    <td class="bigArrow">
                                        <span class="markArrow">提交成功</span>
                                        <i class="iconfont">&#xe619;</i>
                                    </td>
                                    <td>release_sit1</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-body-bottom">
                        <p>质量报告</p>
                        <row>
                            <div class="col-xs-2 testFrame">
                                单元测试概述
                                <div class="">
                                    <p>用例总数</p>
                                    <p>成功用例</p>
                                    <p>失败用例</p>
                                    <p>报告详情</p>
                                </div>
                                <div class=""></div>
                            </div>
                            <div class="col-xs-2 testFrame">静态测试概述</div>
                            <div class="col-xs-2 testFrame">编译测试概述</div>
                            <div class="col-xs-2 testFrame">动态测试概述</div>
                            <div class="col-xs-2 testFrame">集成测试概述</div>
                            <div class="col-xs-2 testFrame">人工审核意见</div>
                        </row>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addJobConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editJobConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 模态框 禁用、删除（Modal） -->
    <div class="modal fade" id="DisableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger"  ng-click="disableJobConfirm()" ng-show="dialog.status === 'disable'">
                            禁用
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delJobConfirm()" ng-show="dialog.status === 'del'">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
